.body{
    background: #E5E5E5    
}

.nav-bar{
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo{
    position: absolute;
    left: 22px;
    top: 16px;
}

.contacts{
    position: absolute;
    top: 25.03px;
    right: 22.41px;
}

.message-area{
    background: #F3F3F3;
    margin-top: 106px;
    margin-bottom: 106px;
}

.message-box{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.message-content{
    margin-left: 8px;
    margin-right: 9px;
}

.time{
    color: #AAAAAA;
}

.reserved{
    background: #FFDEDE;;
}

.enter{
    background-color: #DCDCDC;;
}

.user{
    font-weight: 700;
}

.send-message{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.send-message input{
    position: absolute;
    top: 25px;
    left: 17px;
    width: 300px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    border: hidden;
}

input:focus{
    outline: none;
}

::placeholder{
    color: #000000;
    font-style: italic;
}
 
.send-message img{
    position: absolute;
    top: 27px;
    right: 18px;

}


